//   Flex layout
//
//   Layout object for Flex-based layouts and components. Mix and match to get your desired output.
//
// .l-flex--jc-fs@small-up  -  justify-content: flex-start
// .l-flex--jc-fe@small-up  - justify-content: flex-end
// .l-flex--jc-c@small-up   - justify-content: center
// .l-flex--jc-sb@small-up  - justify-content: space-between
// .l-flex--jc-sa@small-up  - justify-content: space-around
// .l-flex--ai-fs@small-up  - align-items: flex-start
// .l-flex--ai-fe@small-up  - align-items: flex-end
// .l-flex--ai-c@small-up  - align-items: center
// .l-flex--ai-s@small-up  - align-items: stretch
// .l-flex--ai-b@small-up  - align-items: baseline
// .l-flex--dir-r@small-up  - flex-direction: row
// .l-flex--dir-rr@small-up  - flex-direction: row-reverse
// .l-flex--dir-c@small-up  - flex-direction: column
// .l-flex--dir-cr@small-up  - flex-direction: column-reverse
// .l-flex--w-nw@small-up  - flex-wrap: no-wrap
// .l-flex--w-w@small-up  - flex-wrap: wrap
// .l-flex--w-wr@small-up  - flex-wrap: wrap-reverse
//
//  Markup: html/layout.hbs
//
//  Style guide: objects.layout

$flex-justify: (
  fs: flex-start,
  fe: flex-end,
  c: center,
  sb: space-between,
  sa: space-around
);

$flex-align: (
  fs: flex-start,
  fe: flex-end,
  c: center,
  s: stretch,
  b: baseline
);

$flex-directions: (
  r: row,
  rr: row-reverse,
  c: column,
  cr: column-reverse
);

$flex-wrap: (
  nw: nowrap,
  w: wrap,
  wr: wrap-reverse
);

@each $bpname in $breakpoint-classes {
  @each $val, $class in $bp-values {
    @include breakpoint($bpname $val) {
      .l-flex\@#{$bpname}#{$class} {
        display: flex;
      }

      @each $name, $item in $flex-justify {
        .l-flex--jc-#{$name}\@#{$bpname}#{$class} {
          display: flex;
          justify-content: $item;
        }
      }

      @each $name, $item in $flex-align {
        .l-flex--ai-#{$name}\@#{$bpname}#{$class} {
          display: flex;
          align-items: $item;
        }
      }

      @each $name, $item in $flex-align {
        .l-flex--ac-#{$name}\@#{$bpname}#{$class} {
          display: flex;
          align-content: $item;
        }
      }

      @each $name, $item in $flex-directions {
        .l-flex--dir-#{$name}\@#{$bpname}#{$class} {
          display: flex;
          flex-direction: $item;
        }
      }
    }
  }
}
