//  Inline List
//
//  Render a list inline
//
//  Markup: ../../templates/objects/list-inline.twig
//
//  Style guide: objects.list-inline

.o-list-inline {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    display: inline-block;
  }
}
