// *************************************
//
//  Article
//
// *************************************

.c-article {
  margin-bottom: 2em;
}

  .c-article__title {
    padding-bottom: .5em;
    margin-bottom: 1em;
    border-bottom: 1px solid $dark-grey;
  }

  .c-article__sub-title {
    @include heading($h3);
    text-transform: uppercase;
  }
