// *************************************
//
//  Page
//
// *************************************

html {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
}
