// *************************************
//
//  Inline lists
//
// *************************************

.o-list-inline,
%o-list-inline {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    display: inline-block;
  }
}
