// *************************************
//
//  Default settings
//
// *************************************

$base-font-size: 16px;
$base-line-height: 1.45;
$base-text-colour: #333;
$base-font-family: 'Open Sans', 'Arial', 'sans-serif';
$base-heading-margins: 0 0 0.5em;
$base-heading-font-family: $base-font-family;
