// *************************************
//
//   Colours
//
// *************************************

$dark-green: #446c68;
$teal: #00a8a1;
$grey: #5f615e;
$gray: $grey; // because I'll definitely use the wrong one
$light-green: #86df75;
$off-white: #ecf0f1;


// ----- Assignment ----- //
$primary-colour: $dark-green;
$secondary-colour: $teal;
$dark-background-colour: $grey;
$highlight-colour: $light-green;
$light-background-colour: $off-white;