// *************************************
//
//   Vars
//
// *************************************

// -------------------------------------
//   Font sizes
// -------------------------------------

// ----- H1 ----- //
$h1-font-size: 32px;
$h1-line-height: 38px;

$h1-font-size-desktop: 40px;
$h1-line-height-desktop: 48px;

// ----- H2 ----- //
$h2-font-size: 28px;
$h2-line-height: 34px;

$h2-font-size-desktop: 36px;
$h2-line-height-desktop: 44px;

// ----- H3 ----- //
$h3-font-size: 22px;
$h3-line-height: 28px;

$h3-font-size-desktop: 27px;
$h3-line-height-desktop: 32px;

// ----- H4 ----- //
$h4-font-size: 15px;
$h4-line-height: 18px;

$h4-font-size-desktop: $h4-font-size;
$h4-line-height-desktop: $h4-line-height;

// ----- Body ----- //
$body-font-size: 16px;
$body-line-height: 22px;

// ----- Nav ----- //
$nav-font-size: 18px;

// ----- Button ----- //
$button-font-size: $nav-font-size;

// ----- Footer ----- //
$footer-links-font-size: $body-font-size;
$footer-font-size-small: 12px;
$footer-line-height-small: 16px;

// -------------------------------------
//   Font variables
// -------------------------------------
$heading-font: $regular-font;
$body-font: $regular-font;
$footer-links-font: $bold-font;
