// *************************************
//
//  Mixins
//
// *************************************

/**
 * This is based on Foundations breakpoints
 */
@mixin heading($heading) {
  font-size: #{map-get($heading, base-font-size)};
  line-height: #{map-get($heading, base-line-height)};

  @media #{$medium-up} {
    font-size: #{map-get($heading, tablet-font-size)};
    line-height: #{map-get($heading, tablet-line-height)};
  }

  @media #{$large-up} {
    font-size: #{map-get($heading, desktop-font-size)};
    line-height: #{map-get($heading, desktop-line-height)};
  }
}

/**
 * Flex helper mixin
 * @param $direction       - row | row-reverse | column | column-reverse
 * @param $wrap            - nowrap | wrap | wrap-reverse
 * @param $justify-content - flex-start | flex-end | center | space-between | space-around
 * @param $align-items     - flex-start | flex-end | center | stretch | baseline
 * @param $align-content   - flex-start | flex-end | center | stretch | space-between | space-around
 */
@mixin flex($direction: '', $wrap: '', $justify-content: '', $align-items: '', $align-content: '') {
  display: flex;

  @if $direction != '' {
    flex-direction: unquote($direction);
  }

  @if $wrap != '' {
    flex-wrap: unquote($wrap);
  }

  @if $justify-content != '' {
    justify-content: unquote($justify-content);
  }

  @if $align-items != '' {
    align-items: unquote($align-items);
  }

  @if $align-content != '' {
    align-content: unquote($align-content);
  }
}