// *************************************
//
//  Mixins
//
// *************************************

/**
 * This is based on Foundations breakpoints
 */
@mixin heading($heading) {
  font-size: #{map-get($heading, base-font-size)};
  line-height: #{map-get($heading, base-line-height)};

  @media #{$medium-up} {
    font-size: #{map-get($heading, tablet-font-size)};
    line-height: #{map-get($heading, tablet-line-height)};
  }

  @media #{$large-up} {
    font-size: #{map-get($heading, desktop-font-size)};
    line-height: #{map-get($heading, desktop-line-height)};
  }
}
