// *************************************
//
//  Heading trumps
//
// *************************************

.u-alpha,
%u-alpha {
    font-size: $h1-font-size;
}

.u-beta,
%u-beta {
    font-size: $h2-font-size;
}

.u-gamma,
%u-gamma {
    font-size: $h3-font-size;
}

.u-delta,
%u-delta {
    font-size: $h4-font-size;
}

.u-epsilon,
%u-epsilon {
    font-size: $h5-font-size;
}

.u-zeta,
%u-zeta {
    font-size: $h6-font-size;
}
