//  Spacing utilities
//
//  Responsive spacing utilities
//
// .u-ma-30@small-up - All margins
// .u-mt-30@small-up - Margin top
// .u-mr-30@small-up - Margin right
// .u-mb-30@small-up - Margin bottom
// .u-ml-30@small-up - Margin left
// .u-pa-30@small-up - All paddings
// .u-pt-30@small-up - Padding top
// .u-pr-30@small-up - Padding right
// .u-pb-30@small-up - Padding bottom
// .u-pl-30@small-up - Padding left
//
//  Markup: <p class="{{modifier_class}}">Spacing example</p>
//
//  Style guide: utilities.spacing

$spacing-value: 0; // initial value will be 0, this will be incremented
$spacing-increment-by: 5;
$spacing-max-limit: 100;

@while $spacing-value < $spacing-max-limit {
    @each $bpname in $breakpoint-classes {
      @each $val, $class in $bp-values {
        @include breakpoint($bpname $val) {
        .u-ma-#{$spacing-value}\@#{$bpname}-#{$class} {
          margin: $spacing-value * 1px !important;
        }

        .u-mt-#{$spacing-value}\@#{$bpname}-#{$class} {
          margin-top: $spacing-value * 1px !important;
        }

        .u-mr-#{$spacing-value}\@#{$bpname}-#{$class} {
          margin-right: $spacing-value * 1px !important;
        }

        .u-mb-#{$spacing-value}\@#{$bpname}-#{$class} {
          margin-bottom: $spacing-value * 1px !important;
        }

        .u-ml-#{$spacing-value}\@#{$bpname}-#{$class} {
          margin-left: $spacing-value * 1px !important;
        }

        .u-mx-#{$spacing-value}\@#{$bpname}-#{$class} {
          margin-left: $spacing-value * 1px !important;
          margin-right: $spacing-value * 1px !important;
        }

        .u-my-#{$spacing-value}\@#{$bpname}-#{$class} {
          margin-top: $spacing-value * 1px !important;
          margin-bottom: $spacing-value * 1px !important;
        }

        .u-pa-#{$spacing-value}\@#{$bpname}-#{$class} {
          padding: $spacing-value * 1px !important;
        }

        .u-pt-#{$spacing-value}\@#{$bpname}-#{$class} {
          padding-top: $spacing-value * 1px !important;
        }

        .u-pr-#{$spacing-value}\@#{$bpname}-#{$class} {
          padding-right: $spacing-value * 1px !important;
        }

        .u-pb-#{$spacing-value}\@#{$bpname}-#{$class} {
          padding-bottom: $spacing-value * 1px !important;
        }

        .u-pl-#{$spacing-value}\@#{$bpname}-#{$class} {
          padding-left: $spacing-value * 1px !important;
        }

        .u-px-#{$spacing-value}\@#{$bpname}-#{$class} {
          padding-left: $spacing-value * 1px !important;
          padding-right: $spacing-value * 1px !important;
        }

        .u-py-#{$spacing-value}\@#{$bpname}-#{$class} {
          padding-top: $spacing-value * 1px !important;
          padding-bottom: $spacing-value * 1px !important;
        }
      }
    }
  }

  $spacing-value: $spacing-value + $spacing-increment-by;
}
