// Float Utilities
//
// Responsive helpers for floats
//
// .u-fl@small-up - float left
// .u-fr@small-up - float right
// .u-fn@small-up - float center
//
// Markup: <div class="u-fl@small-up">...</div>
//
// Style guide: utilities.floats
@each $bpname in $breakpoint-classes {
  @each $val, $class in $bp-values {
    @include breakpoint($bpname $val) {
      .u-fl\@#{$bpname}#{$class} {
        float: left !important;
      }

      .u-fr\@#{$bpname}#{$class} {
        float: right !important;
      }

      .u-fn\@#{$bpname}#{$class} {
        float: none !important;
      }
    }
  }
}
