/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */

#kss-node .prettyprint {
    background: #2d2d2d !important;
    font-family: Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco, Consolas, monospace;
    border: 0!important
}
#kss-node .pln {
    color: #ccc
}
#kss-node ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #999;
    padding-left: 37px;
}

#kss-node li.L0,
#kss-node li.L1,
#kss-node li.L2,
#kss-node li.L3,
#kss-node li.L4,
#kss-node li.L5,
#kss-node li.L6,
#kss-node li.L7,
#kss-node li.L8,
#kss-node li.L9 {
    padding-left: 1em;
    background-color: #2d2d2d !important;
    list-style-type: decimal;
}
@media screen {
    #kss-node .str {
        color: #9c9
    }
    #kss-node .kwd {
        color: #c9c
    }
    #kss-node .com {
        color: #999
    }
    #kss-node .typ {
        color: #69c
    }
    #kss-node .lit {
        color: #f99157
    }
    #kss-node .pun {
        color: #ccc
    }
    #kss-node .opn {
        color: #ccc
    }
    #kss-node .clo {
        color: #ccc
    }
    #kss-node .tag {
        color: #f2777a
    }
    #kss-node .atn {
        color: #f99157
    }
    #kss-node .atv {
        color: #6cc
    }
    #kss-node .dec {
        color: #f99157
    }
    #kss-node .var {
        color: #f2777a
    }
    #kss-node .fun {
        color: #69c
    }
}
