// *************************************
//
//  Packing items
//  -> Taken from inuit.scss
//
// *************************************

/**
 * 1. Fill all available space.
 * 2. Cause children to be automatically equally sized.
 */

@include block(pack, "object") {
  width: 100%; /* [1] */
  display: table;
  table-layout: fixed; /* [2] */

  @include def-shared-rules('items') {
    display: table-cell;
  }

  @include element(item) {
    @include shared-rules('items');

    @include modifier(middle) {
      @include shared-rules('items');
      vertical-align: middle;
    }

    @include modifier(bottom) {
      @include shared-rules('items');
      vertical-align: bottom;
    }
  }
}
