// *************************************
//
//  Layout patterns
//
// *************************************

$flex-justify: (
  fs: flex-start,
  fe: flex-end,
  c: center,
  sb: space-between,
  sa: space-around
);

$bp-values: (
  '': '-up',
  'only': '-only',
  'down': '-down'
);

$flex-align: (
  fs: flex-start,
  fe: flex-end,
  c: center,
  s: stretch,
  b: baseline
);

$flex-directions: (
  row,
  row-reverse,
  column,
  column-reverse
);

$flex-wrap: (
  nowrap,
  wrap,
  wrap-reverse
);

@each $bpname, $bp in $breakpoints {
  @each $val, $class in $bp-values {
    @include breakpoint($bpname $val) {
      .l-flex\@#{$bpname}#{$class} {
        display: flex;
      }

      @each $name, $item in $flex-justify {
        .l-flex--jc-#{$name}\@#{$bpname}#{$class} {
          display: flex;
          justify-content: $item;
        }
      }

      @each $name, $item in $flex-align {
        .l-flex--ai-#{$name}\@#{$bpname}#{$class} {
          display: flex;
          align-items: $item;
        }
      }

      @each $name, $item in $flex-directions {
        .l-flex--dir-#{$name}\@#{$bpname}#{$class} {
          display: flex;
          flex-direction: $item;
        }
      }
    }
  }
}
